* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* ===================================
   Typography
   ===================================
*/

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.125rem;
}

.nav-list {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.nav-image {
  background-color: #ffe600;
  padding: 0 0.2em;
}

.nav-list-item {
  padding: 1.5em 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding-left: 2.5em;
  transition: 300ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffe600;
}

.nav-list + .nav-list-item {
  padding-left: 0;
  padding-bottom: 0;
}

strong {
  color: #ffe600;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #ffe600;
  padding: 0.5em 1.5em;
  margin-bottom: 32px;
}

/* ===================================
   Layout
   ===================================
*/

.container {
  padding: 0 5em;
}

.hero-container {
  background-color: #000;
  background-image: url("/resources/images/hero-bg.jpg");
  background-size: cover;
  background-position: top right;
  min-height: 70vh;
}

.hero {
  margin-top: 4em;
}

.hero-title,
.hero-body {
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 32px;
}

.main-grid {
  display: grid;
  color: #000;
  text-align: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-grid strong {
  color: #000;
  font-weight: bold;
}

.main-grid-item {
  max-width: 20rem;
  padding: 0 1em;
}

.main-grid-item-title {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #ffe600;
  width: 50%;
  margin: 0 auto;
}

.main-container {
  margin: 3em 0;
}

.footer-container {
  background-color: #ebebeb;
  padding-top: 3em;
  color: rgba(0, 0, 0, 0.3);
}

.footer-logo {
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 0;
}

.footer-body {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-copyright {
  color: rgba(0, 0, 0, 0.2);
  margin-top: 5em;
  margin-bottom: 0;
  padding-bottom: 5em;
}
